language = "java10"
onBoot = "javac -classpath .:/run_dir/junit-4.12.jar:target/dependency/* -d . Main.java"
run = "javac -classpath .:/run_dir/junit-4.12.jar:target/dependency/* -d . Main.java; java -classpath .:/run_dir/junit-4.12.jar:target/dependency/* Main"